<div style="display: flex; justify-content: space-between; max-width: 800px; padding: 48px;">
  <app-ng-avatar [name]='name' round='20px' color='#ff85c0'>
  </app-ng-avatar>
  <app-ng-avatar [name]='name' round='20px' color='#85a5ff'>
  </app-ng-avatar>
  <app-ng-avatar [name]='name' round='20px' color='#b37feb'>
  </app-ng-avatar>
  <app-ng-avatar [name]='name' round='20px' color='#69c0ff'>
  </app-ng-avatar>
</div>
<div style="display: flex; justify-content: space-between; max-width: 800px; padding: 48px;">
  <app-ng-avatar [name]='name' round='' color='#ff85c0'>
  </app-ng-avatar>
  <app-ng-avatar [name]='name' round='' color='#85a5ff'>
  </app-ng-avatar>
  <app-ng-avatar [name]='name' round='' color='#b37feb'>
  </app-ng-avatar>
  <app-ng-avatar [name]='name' round='' color='#69c0ff'>
  </app-ng-avatar>
</div>
<div style="display: flex; justify-content: space-between; max-width: 800px; padding: 48px;">
  <app-ng-avatar [name]='name' round='55px' color='#ff85c0'>
  </app-ng-avatar>
  <app-ng-avatar [name]='name' round='55px' color='#85a5ff'>
  </app-ng-avatar>
  <app-ng-avatar [name]='name' round='55px' color='#b37feb'>
  </app-ng-avatar>
  <app-ng-avatar [name]='name' round='55px' color='#69c0ff'>
  </app-ng-avatar>
</div>